version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    network_mode: service:db
    depends_on:
      - db
    environment:
      - POSTGRES_HOST=localhost
      - POSTGRES_PORT=5432
      - POSTGRES_DB=fishing_db
      - POSTGRES_USER=fishing_user
      - POSTGRES_PASSWORD=fishing_pass

  db:
    image: postgres:16-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: fishing_db
      POSTGRES_USER: fishing_user
      POSTGRES_PASSWORD: fishing_pass
    ports:
      - "5432:5432"

volumes:
  postgres-data:
